[Unit]
Description=SSH Tencent IDE SOCKS Tunnel (User-level)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ssh-socks-proxy mcazaq -p 9051
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
